<!DOCTYPE html>
<html>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
  </style>
  <body class="w3-light-grey">
    <app-dashboard-frame></app-dashboard-frame>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-9">
        <header class="w3-container" style="padding-top:22px">
          <h5><b> Dashboard</b></h5>
        </header>
        <div class="w3-panel">
          <div class="w3-row-padding" style="margin:0 -16px">
            <div class="w3-twothird">
              <h5>News</h5>
              <table class="w3-table w3-striped w3-white">
                <tr>
                  <td><i class="fa fa-user w3-text-blue w3-large"></i></td>
                  <td>New record, over 90 views.</td>
                  <td><i>10 mins</i></td>
                </tr>
                <tr>
                  <td><i class="fa fa-bell w3-text-red w3-large"></i></td>
                  <td>Database error.</td>
                  <td><i>15 mins</i></td>
                </tr>
                <tr>
                  <td><i class="fa fa-users w3-text-yellow w3-large"></i></td>
                  <td>New record, over 40 users.</td>
                  <td><i>17 mins</i></td>
                </tr>
                <tr>
                  <td><i class="fa fa-comment w3-text-red w3-large"></i></td>
                  <td>New comments.</td>
                  <td><i>25 mins</i></td>
                </tr>
                <tr>
                  <td><i class="fa fa-bookmark w3-text-blue w3-large"></i></td>
                  <td>New Events.</td>
                  <td><i>28 mins</i></td>
                </tr>
                <tr>
                  <td><i class="fa fa-laptop w3-text-red w3-large"></i></td>
                  <td>Kids Photos.</td>
                  <td><i>35 mins</i></td>
                </tr>
                <tr>
                  <td><i class="fa fa-share-alt w3-text-green w3-large"></i></td>
                  <td>New shares.</td>
                  <td><i>39 mins</i></td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
      <hr>
    
      <!-- Footer -->
      <footer class="w3-container w3-padding-16 w3-light-grey">
    
        </footer>
  </div> 
  </body>
</html>

