
<!DOCTYPE html>
<html>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
  </style>
  <body class="w3-light-grey">
    <app-dashboard-frame></app-dashboard-frame>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-9">
          <h3 style="color:deeppink">Year-1 Student Attendance</h3>
          <br>
          <table class="table table-hover">
              <thead class="thead-dark">
                  <th>Registration Number</th>
                  <th>Name</th>
                  <th>Present</th>
                  <th>Absent</th>
              </thead>
              <tbody>
                <tr *ngFor="let student of year1">
                  <td>{{student.regNumber}}</td>
                  <td>{{student.fullName}}</td>
                  <td><button  class="btn btn-outline-info" (click)="onSubmitAttendanceYear1(student.regNumber,1)" required>Present</button></td>
                  <td><button  class="btn btn-outline-warning" (click)="onSubmitAttendanceYear1(student.regNumber,0)" required>Absent</button></td>
                </tr>
              </tbody>
          </table>
          <div class="row">
            <div class="col-md-5"></div>
            <div class="col-md-2"><button id="btn1" type="button" class="btn btn-lg btn-primary" (click)="onSubmit1()" [disabled]="!(n1==year1size)">Submit</button></div>
            <div class="col-md-5"></div>
          </div>
      
          <h3 style="color:deeppink">Year-2 Student Attendance</h3>
          <br>
          <table class="table table-hover">
              <thead class="thead-dark">
                  <th>Registration Number</th>
                  <th>Name</th>
                  <th>Present</th>
                  <th>Absent</th>
              </thead>
              <tbody>
                <tr *ngFor="let student of year2">
                  <td>{{student.regNumber}}</td>
                  <td>{{student.fullName}}</td>
                  <td><button class="btn btn-outline-info" (click)="onSubmitAttendanceYear2(student.regNumber,1)">Present</button></td>
                  <td><button class="btn btn-outline-warning" (click)="onSubmitAttendanceYear2(student.regNumber,0)">Absent</button></td>
                </tr>
              </tbody>
          </table>
          <div class="row">
            <div class="col-md-5"></div>
            <div class="col-md-2"><button id="btn2" type="button" class="btn btn-lg btn-primary" (click)="onSubmit2()" [disabled]="!(n2==year2size)">Submit</button></div>
            <div class="col-md-5"></div>
          </div>
      </div>
    

    <!-- Footer -->
    <footer class="w3-container w3-padding-16 w3-light-grey">
      
    </footer>
  </div> 
  </body>
</html>





  