<h3 style="color:deeppink">Response Messages</h3>
<form [formGroup]="contactForm">
    <div class="row">
      <div class="col-sm-6 form-group">
        <input class="form-control" name="email" placeholder="Email" type="email"  id="contactFormEmail" formControlName="contactFormEmail" [(ngModel)]="itemEmail">
      </div>
      <div class="col-sm-6 form-group">
        <input class="form-control" id="contactFormName" name="name" placeholder="Subject" type="text" formControlName="contactFormName" [(ngModel)]="itemName">
      </div>
    </div>
    <textarea class="form-control" name="comments" placeholder="Message" rows="3" id="contactFormMessage" formControlName="contactFormMessage"  [(ngModel)]="itemMessage"></textarea>
      <br>
      <div class="row">
    <div class="col-md-12 form-group">            
      <button class="mat-icon-button mat-primary" type="submit" [disabled]="contactForm.invalid" (click)="onSubmit()" (click)="clearForm()"><mat-icon matPrefix style="font-size: 25px" >save</mat-icon></button>
      <button class="mat-icon-button mat-warn"(click)="close()"><mat-icon matPrefix style="font-size: 25px" >cancel</mat-icon></button>
    </div>
  </div>
</form>
 