<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body class="w3-light-grey content">
      <!-- Navbar -->
  <div class="row">
    <div class="w3-top">
      <div class="w3-bar w3-card w3-black" style="opacity: 0.8">
        <img class="" src="/assets/logo.jpg" style="width:200px;height: 46px;">
        <div class="w3-right mont">
          <a href="#" class="w3-bar-item w3-button w3-hover-light-blue " style="padding: 13px 16px;text-decoration:none;">HOME</a>
          <a href="/home/#vision" class="w3-bar-item w3-button w3-hover-light-blue " style="padding: 13px 16px;text-decoration:none;">VISION</a>
          <a href="/home/#aboutus" class="w3-bar-item w3-button w3-hover-light-blue " style="padding: 13px 16px;text-decoration:none;">ABOUT</a>
          <a href="/home/#staff" class="w3-bar-item w3-button w3-hover-light-blue" style="padding: 13px 16px;text-decoration:none;">STAFF</a>
          <a [routerLink]="'/newsforum'" class="w3-bar-item w3-button w3-hover-light-blue" style="padding: 13px 16px;text-decoration:none;">NEWS & BLOG</a>
          <a [routerLink]="'/forum'" class="w3-bar-item w3-button w3-hover-light-blue" style="padding: 13px 16px;text-decoration:none;">GALLERY</a>
          <a href="/home/#contact" class="w3-bar-item w3-button w3-hover-light-blue" style="padding: 13px 16px;text-decoration:none;">CONTACT</a>
          <button mat-icon-button [matMenuTriggerFor]="menu" class="w3-bar-item w3-right">
            <mat-icon  >account_circle</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="logout()">
              <span> LOG OUT </span>
              <mat-icon>logout</mat-icon>
            </button>
          </mat-menu>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 6%;" >
    <div class="col-md-4"></div>
    <div class="col-md-6">
      <h3 style="color:darksalmon">Welcome To Thusitha Pre School News Forum</h3>
    </div>
  </div>
  <div class="row" style="margin-top: 2%;">
    <div class="col-md-1"></div>
    <div class="col-md-6" style="margin-top: 2%;background-color: gray ">
      <br>
      <h5 style="display: inline-block;color:black;font-weight: bold">NEWS</h5>
      <span style="margin: 18px;color:darkblue">{{forumNum}} News</span>
      <div class="search" >
        <mat-icon matPrefix style="font-size: 16px" >search</mat-icon>
        <mat-form-field >
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
        </mat-form-field>
      </div>

      <div class="msg" *ngFor="let item of view ">
        <mat-card>
          <div class="row">
            <mat-card-subtitle class="forumTitle">{{item.title}}</mat-card-subtitle>
          </div>
          <mat-card-content>
            {{item.msg}}
          </mat-card-content>
          <mat-card-footer>{{item.date | date: ' dd/MM/yyyy | hh:mm a '}}</mat-card-footer>
        </mat-card>
      </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-3" style="margin-top: 2%;background-color: lightsalmon">
      <br>
      <h5 style="display: inline-block;font-weight: bold">UP COMMING EVENTS</h5>
      <span style="margin: 18px;color:darkred">{{eventNum}} events</span>
      <div class="eve" *ngFor="let item of viewEvent">
        <mat-card>
          <div class="row">
            <mat-card-subtitle class="eventTitle">{{item.event}}</mat-card-subtitle>

          </div>
          <mat-card-content>
            {{item.event}} will be held on <b>{{item.date | date: 'EEEE, MMMM d, y'}}</b> at <b>{{item.time}}</b> , at
            <b>{{item.venue}}</b>.
          </mat-card-content>
          <mat-card-footer style="margin-left: 40%">{{item.pDate | date: ' dd/MM/yyyy | hh:mm a '}}</mat-card-footer>
        </mat-card>
      </div>
    </div>
  </div>


</body>

</html>
