/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

input.ng-touched.ng-invalid{
    border-color: #dc3545;
}

div.validation-error{
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}

/* for table row hover - in employee-list component */
table.table-hover tbody tr:hover{
    cursor: pointer;
}


.dropzone { 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    width: 100%;
    font-weight: 200;
    height: 150px;
    border: 2px dashed #f16624;
    border-radius: 5px;
    background: white;
    margin: 10px 0;
}
    .hovering {
        border: 2px solid #f16624;
        color: #dadada !important;
    }

    .file-label {
        font-size: 15px;
    }

  
  progress::-webkit-progress-value {
    transition: width 0.1s ease;
  }
