<!DOCTYPE html>
<html>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
  </style>
  <body class="w3-light-grey">
    <app-dashboard-frame></app-dashboard-frame>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-9">
          <h3 style="color:deeppink">Contact us Messages</h3>
          <br>
          <table class="table table-hover">
            <thead class="thead-dark">
              
              <th>Name</th>
              <th>Email</th>
              <th>Message</th>
              <th>&nbsp;</th>
            </thead>
          
            <tbody>
              <tr *ngFor="let msg of list">
                <td>{{msg.name}}</td>
                <td>{{msg.email}}</td>
                <td>{{msg.message}}</td>
                <td><a class="btn text-danger" (click)="onDelete(msg.id)"><i class="fa fa-trash"></i></a></td>
              </tr>
            </tbody>
          
          </table>
      </div>
    

    <!-- Footer -->
    <footer class="w3-container w3-padding-16 w3-light-grey">
      
    </footer>
  </div> 
  </body>
</html>





  