
<!DOCTYPE html>
<html lang="en">

<body>
    <div class="page-wrapper bg-gra-01 p-t-180 p-b-100 font-poppins">
        <div class="wrapper wrapper--w780">
            <div class="card card-3">
                <div class="card-heading"></div>
                <div class="card-body">
                    <h2 class="title"><mat-icon>person</mat-icon>Sign Up here</h2>
                    <form id="signup" class="formGroup">
                          <div class="container">
                              <div class="formGroup">
                                  <input type="email" class="formControl" placeholder="Email Address" #userEmail required>
                                  </div>
                                  <div class="formGroup">
                                  <input type="password" class="formControl" placeholder="Password" #userPwd required>
                                  </div>
                            <label>
                              <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
                            </label>
                      
                            <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>
                      <div class="p-t-10">
                            <div class="formGroup">
                                <button class="btn btn--pill btn--green" (click)="authService.SignUp(userEmail.value, userPwd.value)">Sign Up</button>
                                <br><br>
                                <button class="btn btn--pill btn--red" (click)="Cancel()">Cancel</button>
                              </div>
                        </div>
                      </div>
                      <div class="login">
                          <span>Already have an account? <span class="redirect" (click)="Login()">Log In</span></span>
                      </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
<!-- end document-->