<!DOCTYPE html>
<html>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
  </style>
  <body class="w3-light-grey">
    <app-dashboard-frame></app-dashboard-frame>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-4"><h3 style="color:chocolate">Students Fees Details</h3></div>
          <div class="col-md-4"></div>
        </div>
  
        <br><br>
        <table class="table table-hover">
          <thead class="thead-dark">
            <th>Student registration number</th>
            <th>Student Name</th>
            <th>Student Studying Year</th>
            <th>Phone Number</th>
            <th>Last Fee Paid Month</th>
          </thead>
          <tr class="table-warning" *ngFor="let stdnt of students">
            <td>{{stdnt.regNumber}}</td>
            <td>{{stdnt.fullName}}</td>
            <td>{{stdnt.year}}</td>
            <td>{{stdnt.phone}}</td>
            <td>{{stdnt.fee}}</td>
          </tr>
        </table>
      </div>
    </div>
    <footer class="w3-container w3-padding-16 w3-light-grey">
    
    </footer>
  </body>
</html>
