<!DOCTYPE html>
<html>
<head>
  <title>Thusitha Pre School</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body style="background-color:#f5f5f5;min-height: 670px;">
  <!-- Navbar -->
	<div class="w3-top">
	  <div class="w3-bar w3-card w3-black" style="opacity: 0.8">
	    <img class="" src="/assets/logo.jpg" style="width:200px;height: 46px;">
	    <div class="w3-right mont">
	      <a href="#" class="w3-bar-item w3-button w3-hover-light-blue " style="padding: 13px 16px;text-decoration:none;">HOME</a>
	      <a href="/home/#vision" class="w3-bar-item w3-button w3-hover-light-blue " style="padding: 13px 16px;text-decoration:none;">VISION</a>
	      <a href="/home/#aboutus" class="w3-bar-item w3-button w3-hover-light-blue " style="padding: 13px 16px;text-decoration:none;">ABOUT</a>
        <a href="/home/#staff" class="w3-bar-item w3-button w3-hover-light-blue" style="padding: 13px 16px;text-decoration:none;">STAFF</a>
        <a [routerLink]="'/newsforum'" class="w3-bar-item w3-button w3-hover-light-blue" style="padding: 13px 16px;text-decoration:none;">NEWS & BLOG</a>
        <a [routerLink]="'/forum'" class="w3-bar-item w3-button w3-hover-light-blue" style="padding: 13px 16px;text-decoration:none;">GALLERY</a>
        <a href="/home/#contact" class="w3-bar-item w3-button w3-hover-light-blue" style="padding: 13px 16px;text-decoration:none;">CONTACT</a>
        <button mat-icon-button [matMenuTriggerFor]="menu" class="w3-bar-item w3-right">
          <mat-icon  >account_circle</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="logout()">
            <span> LOG OUT </span>
            <mat-icon>logout</mat-icon>
          </button>
        </mat-menu>
	      
	      
	    </div>
	  </div>
  </div>
  <div class="w3-content" style="max-width:2000px;margin-top:46px;">
    <div class="content" style="height: auto;">
      <h2 class="mont" style="padding: 35px 25px 0;">Gallery</h2>
      <hr style="border-color: rgba(0,0,0,0.2);">
      <div class="news" *ngFor="let post of list">
        <mat-accordion class="accordion" >
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title >{{post.title}}</mat-panel-title>
              <div class="w3-right">
                <mat-panel-title >{{post.date}}</mat-panel-title>
              </div>
            </mat-expansion-panel-header>
            {{post.description}}
            <app-gallery [postno]="post?.pNo"></app-gallery>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
  </div>
  
</body>
</html>