body {font-family: "Lato", sans-serif}
.mont{
    font-family: "Montserrat", sans-serif;
}
.news{
    padding-left: 130px;
    padding-right: 130px;
    padding-top: 10px;
}
.accordion{
    margin-bottom: 10px;
}
.r{
    float:right;
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }